<template>
  <div>
     <AppGeneralPopUpModal class="z-50"/>
   <AppHeader />
     <main id="body-wrapper" style="z-index: 1;">
       <Nuxt/>
    </main>
      <AppFooter/>
  <!--   <CookieControl locale="fr"/> -->
  </div>
</template>
<script>
import AppGeneralPopUpModal from "../components/modal/AppGeneralPopUpModal.vue";
export default {
  components: { AppGeneralPopUpModal },}
</script>