<template>
  <b-modal
    v-model="getGeneralPopUpModalOpened"
    :destroy-on-hide="true"
    :on-cancel="closeGeneralPopUpModalState"
     style="z-index:50"
  >
    <div class="grid-container">
      <!-- <p class="image is-5by4">
      <img src="/images/acep/placeholder-900x650.svg" />
    </p> -->
      <div class="bg-transparent">
        <div class="mx-auto max-w-screen-2xl">
          <div
            class="rounded-lg"
          >
            <!-- image - start -->
            <div
              class="  "
            >
              <img
                src="https://i.ibb.co/7CfH48R/Whats-App-Image-2024-07-16-at-10-55-04.jpg"
                loading="lazy"
                alt="acep-modal-image"
                class="  object-cover object-top md:object-center w-5/6 md:w-3/6 "
                style="margin: 0 auto;"
              />
            </div>
            <!-- image - end -->

    
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      isImageModalActive: true,
      //   isCardModalActive: false,
    };
  },
  computed: {
    ...mapGetters({
      getGeneralPopUpModalOpened: "appSettings/getGeneralPopUpModalOpened",
      hasPopUpBeenShowed: "appSettings/hasPopUpBeenShowed",
    }),
  },
  mounted() {
    if (!this.hasPopUpBeenShowed) this.setGeneralPopUpModalState();
  },
  methods: {
    onClickModalRedict() {
      this.closeGeneralPopUpModalState();
      this.$router.push({
        path: "/actualites/la-campagne-acep-sa-xaritu-projet",
      });
    },
    showPromoModal() {
      this.isPromoModalActive = true;
    },
    ...mapActions({
      setGeneralPopUpModalState: "appSettings/setGeneralPopUpModalState",
      closeGeneralPopUpModalState: "appSettings/closeGeneralPopUpModalState",
    }),
  },
};
</script>

<style lang="scss" scoped>
</style>